@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }

  .skip a{
    -webkit-transition: none; 
    transition: none;        
   }
}
html{
  scroll-behavior: smooth;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus {
  position: absolute;
  top: 80px; 
}
a:hover,
a:focus {
  text-decoration: underline;
}

nav{
  background-color: #ddd;
  padding: 25px 0px; 
  text-align: left;
}

nav li{
  display:inline;
  padding-right:20px;
  padding-left:10px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}
h2{
  color: white;
  font-weight: bold;
  text-decoration: none; 
  font-size: 40px;
  text-align: center;
}
h2{
  color: black;
  font-weight: bold;
  text-decoration: none; 
  font-size: 40px;
  text-align: center;
}
h3{
  color: black;
  font-weight: bold;
  text-decoration: none; 
  font-size: 20px;
  text-align: center;
}
body{
  background-color: #336699;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}
ul{
  color: black;
}
ul li{
  list-style-type: none;
}
.overview{
  font-family: "Copperplate", "Courier New", monospace;
  font-size: 50px;
  line-height: 1;
  text-align: center;
  align-self: center;
  justify-self: center; 
  overflow: scroll; 
}
.pluto-image,
.fitz-image,
.nuonuo-image,
.rocket-image,
.smoothie-image,
.hua-image,
.brul-image {
  text-align: center;
  align-self: center; 
  justify-self: center; 
  overflow: scroll;
  min-height: fit-content;
}
.pluto-text,
.hua-text,
.fitz-text,
.nuonuo-text,
.rocket-text,
.smoothie-text,
.brul-text {
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid white;
  align-self: center; 
  justify-self: center; 
  overflow: scroll; 
  margin-bottom: 15px;
}

#pluto-gallery,
#fitz-gallery,
#hua-gallery,
#nuonuo-gallery,
#smoothie-gallery,
#brul-gallery,
#rocket-gallery {
  overflow: scroll;
}
#pluto-gallery > ul,
#fitz-gallery > ul,
#hua-gallery > ul,
#nuonuo-gallery > ul,
#smoothie-gallery > ul,
#brul-gallery > ul,
#rocket-gallery > ul {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  max-width: 100%;
  height: auto;
  text-align: center;
  align-self: center; 
  justify-self: center; 
  border: 10px solid white;
  margin-bottom: 50px;
  min-width: fit-content;
  overflow: scroll;
}

.jiaozi-overiew,
.chickencurry-overiew,
.hssoup-overiew{
  display: grid;
  grid-template-columns: 40% 60%;
  overflow: hidden;
  grid-gap: 30px;
  object-fit: contain;
}  
.jiaozi-text,
.chickencurry-text,
.hssoup-text{
  grid-column: 2;
  border: 10px solid white;
  background-color: rgba(255, 255, 255, .8);
  overflow: hidden;
} 
body > main > div.hssoup-overiew > div.hssoup-image > img{
  overflow: hidden;
}
.jiaozi-image,
.hssoup-image,
.chickencurry-image,
.hssoup-image{
  align-self: center; 
  justify-self: center; 
  grid-row: 2/4;
  grid-column: 1;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow: scroll;
} 
.jiaozi-description,
.chickencurry-description,
.hssoup-description{
  text-align: center;
  grid-column: 2;
  border: 10px solid white;
  background-color: rgba(255, 255, 255, .8);
  height: auto;
  overflow: scroll;
  min-height: fit-content;
  overflow: hidden;
} 
.jiaozi-ingredients,
.chickencurry-ingredients,
.hssoup-ingredients{
  text-align: center;
  grid-column: 2;
  border: 10px solid white;
  background-color: rgba(255, 255, 255, .8);
  height: auto;
  min-height: fit-content;
  overflow: hidden;
} 
.jiaozi-steps,
.chickencurry-steps,
.hssoup-steps{
  text-align: center;
  grid-column: 2;
  border: 10px solid white;
  background-color: rgba(255, 255, 255, .8);
  height: auto;
  overflow: scroll;
  min-height: fit-content;
  overflow: hidden;
}
.jiaozi-additional,
.chickencurry-additional,
.hssoup-additional{
  text-align: center;
  grid-column: 1 / -1;
  border: 10px solid white;
  height: auto;
  overflow: scroll;
  min-height: fit-content;
  overflow: hidden;
}