/* html{
  scroll-behavior: smooth;
} */
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus {
  position: absolute;
  top: 80px; 
}
a:hover,
a:focus {
  text-decoration: underline;
}

nav{
  background-color: #ddd;
  padding: 25px 0px; 
  text-align: left;
}

nav li{
  display:inline;
  padding-right:20px;
  padding-left:10px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}
h2{
  color: white;
  font-weight: bold;
  text-decoration: none; 
  font-size: 40px;
  text-align: center;
}
h2{
  color: black;
  font-weight: bold;
  text-decoration: none; 
  font-size: 40px;
  text-align: center;
}
h3{
  color: black;
  font-weight: bold;
  text-decoration: none; 
  font-size: 20px;
  text-align: center;
}
body{
  background-color: #336699;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}
ul{
  color: black;
}
ul li{
  list-style-type: none;
}
.overview{
  font-family: "Copperplate", "Courier New", monospace;
  font-size: 50px;
  line-height: 1;
  text-align: center;
  align-self: center;
  justify-self: center; 
  overflow: scroll; 
}
.pluto-image,
.fitz-image,
.nuonuo-image,
.rocket-image,
.smoothie-image,
.hua-image,
.brul-image {
  text-align: center;
  align-self: center; 
  justify-self: center; 
  overflow: scroll;
  min-height: fit-content;
}
.pluto-text,
.hua-text,
.fitz-text,
.nuonuo-text,
.rocket-text,
.smoothie-text,
.brul-text {
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid white;
  align-self: center; 
  justify-self: center; 
  overflow: scroll; 
  margin-bottom: 15px;
}

#pluto-gallery,
#fitz-gallery,
#hua-gallery,
#nuonuo-gallery,
#smoothie-gallery,
#brul-gallery,
#rocket-gallery {
  overflow: scroll;
}
#pluto-gallery > ul,
#fitz-gallery > ul,
#hua-gallery > ul,
#nuonuo-gallery > ul,
#smoothie-gallery > ul,
#brul-gallery > ul,
#rocket-gallery > ul {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  max-width: 100%;
  height: auto;
  text-align: center;
  align-self: center; 
  justify-self: center; 
  border: 10px solid white;
  margin-bottom: 50px;
  min-width: fit-content;
  overflow: scroll;
}
.hssoup {
  grid-row: 2;
}
.chickencurry {
  grid-row: 3;
}
.jiaozi {
  grid-row: 4;
}

.jiaozi-overiew,
.chickencurry-overiew,
.hssoup-overiew{
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-gap: 15px;
}  
.jiaozi-text,
.chickencurry-text,
.hssoup-text{
  grid-column: 2;
  border: 10px solid white;
  background-color: rgba(255, 255, 255, .8);
  overflow: scroll; 
} 
.jiaozi-image,
.chickencurry-image,
.hssoup-image{
  align-self: center; 
  justify-self: center; 
  grid-row: 2 / 4;
  grid-column: 1;
  height: auto;
  overflow: scroll;
} 
.jiaozi-description,
.chickencurry-description,
.hssoup-description{
  text-align: center;
  grid-column: 2;
  border: 10px solid white;
  background-color: rgba(255, 255, 255, .8);
  height: auto;
  overflow: scroll;
  min-height: fit-content;

} 
.jiaozi-ingredients,
.chickencurry-ingredients,
.hssoup-ingredients{
  text-align: center;
  grid-column: 2;
  border: 10px solid white;
  background-color: rgba(255, 255, 255, .8);
  height: auto;
  overflow: scroll;
  min-height: fit-content;
} 
.jiaozi-steps,
.chickencurry-steps,
.hssoup-steps{
  text-align: center;
  grid-column: 2;
  border: 10px solid white;
  background-color: rgba(255, 255, 255, .8);
  height: auto;
  overflow: scroll;
  min-height: fit-content;
}
.jiaozi-additional,
.chickencurry-additional,
.hssoup-additional{
  text-align: center;
  grid-column: 1 / -1;
  border: 10px solid white;
  height: auto;
  overflow: scroll;
  min-height: fit-content;
}


/* @media screen and (max-width: 400px){
  nav {  
    text-align: right; 
    padding-top: 30px; 
    padding-bottom: 30px; 
    padding-left: 0px;
    padding-right: 0px;
  }  
  .pluto-image,
  .fitz-image,
  .nuonuo-image,
  .rocket-image,
  .smoothie-image,
  .hua-image,
  .brul-image {
    max-height: 120px;
  }
  #pluto-gallery > ul,
  #fitz-gallery > ul,
  #hua-gallery > ul,
  #nuonuo-gallery > ul,
  #smoothie-gallery > ul,
  #brul-gallery > ul,
  #rocket-gallery > ul {
    grid-template-columns: 50% 50%;
    max-height: fit-content;
  }
  .jiaozi-image,
  .chickencurry-image,
  .hssoup-image{
    max-height: 100px;
  }
  .pluto-text,
  .hua-text,
  .fitz-text,
  .nuonuo-text,
  .rocket-text,
  .smoothie-text,
  .brul-text {
    max-height: 250px;
    overflow: scroll; 
  }
}  */

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }
}