@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }

  .skip a{
    -webkit-transition: none; 
    transition: none;        
   }
}

*:focus {
  border: 2px solid #EEE2DC;
}
html{
  scroll-behavior: smooth;
}
.skip a{
  background: #EEE2DC;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus {
  position: absolute;
  top: 80px; 
}
a:hover,
a:focus {
  text-decoration: underline;
}

nav{
  background-color: #EEE2DC;
  padding: 25px 0px; 
  text-align: left;
}

nav li{
  display:inline;
  padding-right:20px;
  padding-left:10px;
}

nav a{
  color: #AC3B61;
  text-decoration: none; 
}
body > header > nav > ul > li.active > strong > a{
  text-shadow: 2px 2px white;
  color: #123C69;
}

h1{
  color: #123C69;
  font-weight: bold;
  text-decoration: none; 
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 5px white;
}
h2{
  color: #AC3B61;
  font-weight: bold;
  text-decoration: none; 
  font-size: 40px;
  text-align: center;
  font-family: 'Courier New', monospace;
  margin-top: 15px;
}
h3{
  color: #AC3B61;
  font-weight: bold;
  text-decoration: none; 
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', monospace;
}
p{
  color: #123C69;
  text-align: center;
  margin: 15px;
}
figcaption{
  color: #123C69;
}
body > main > div.hssoup-overiew > div.hssoup-additional > h3,
body > main > div.chickencurry-overiew > div.chickencurry-additional > h3,
body > main > div.jiaozi-overiew > div.jiaozi-additional > h3{
  margin:50px;
}
body{
  background-color: #EDC7b7;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}
/* ul{
  color: #AC3B61;
} */
ul li{
  text-align: center;
  list-style-type: none;
  color: #123C69;
}
img{
  border-radius: 30px;
}
.overview{
  font-family: "Copperplate", "Courier New", monospace;
  font-size: 50px;
  line-height: 1;
  text-align: center;
  align-self: center;
  justify-self: center; 
  overflow: scroll; 
  margin-bottom:10px;
}
.pluto-image,
.fitz-image,
.nuonuo-image,
.rocket-image,
.smoothie-image,
.hua-image,
.brul-image {
  text-align: center;
  align-self: center; 
  justify-self: center; 
  overflow: scroll;
  min-height: fit-content;
}
.pluto-text,
.hua-text,
.fitz-text,
.nuonuo-text,
.rocket-text,
.smoothie-text,
.brul-text {
  background-color: #EEE2DC;
  border: 10px solid #BAB2B5;
  align-self: center; 
  justify-self: center; 
  overflow: scroll; 
  margin-bottom: 15px;
}

#pluto-gallery,
#fitz-gallery,
#hua-gallery,
#nuonuo-gallery,
#smoothie-gallery,
#brul-gallery,
#rocket-gallery {
  background-color: #EEE2DC;
  border: 10px solid #BAB2B5;
  overflow: scroll;
}
#pluto-gallery > ul,
#fitz-gallery > ul,
#hua-gallery > ul,
#nuonuo-gallery > ul,
#smoothie-gallery > ul,
#brul-gallery > ul,
#rocket-gallery > ul {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  max-width: 100%;
  height: auto;
  text-align: center;
  align-self: center; 
  justify-self: center; 
  border: 10px solid #EEE2DC;
  margin-bottom: 50px;
  min-width: fit-content;
  overflow: scroll;
}
#pluto-gallery > ul li,
#fitz-gallery > ul li,
#hua-gallery > ul li,
#nuonuo-gallery > ul li,
#rocket-gallery > ul li {
margin: 15px;
}
#brul-gallery > ul li,
#smoothie-gallery > ul li{
  margin: 55px;
}

.jiaozi-overiew,
.chickencurry-overiew,
.hssoup-overiew{
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;
  height: auto;
  text-align: center;
  align-self: center; 
  justify-self: center; 
  min-width: fit-content;
  overflow: hidden;
  margin:auto;
}  
.hssoup-image,
.chickencurry-image,
.jiaozi-image{
  grid-row: 1;
  grid-column: 1 / -1;
}

.jiaozi-description,
.chickencurry-description,
.hssoup-description{
  grid-row: 3;
  grid-column: 1;
}
.jiaozi-ingredients,
.chickencurry-ingredients,
.hssoup-ingredients{
  grid-row: 2;
  grid-column: 2;
}
.jiaozi-steps,
.chickencurry-steps,
.hssoup-steps{
  grid-row: 3;
  grid-column: 2;
}
.jiaozi-additional,
.chickencurry-additional,
.hssoup-additional{
  grid-column: 1/-1;
  overflow: scroll;
}

.jiaozi-text,
.chickencurry-text,
.hssoup-text{
  background-color: #EEE2DC;
  border: 10px solid #BAB2B5;
  grid-row: 2;
  grid-column: 1;
  max-height: 400px;
  min-height: fit-content;
  overflow: scroll;
} 
.jiaozi-image,
.hssoup-image,
.chickencurry-image,
.hssoup-image{
  text-align: center;
  align-self: center; 
  justify-self: center; 
  object-fit: cover;
  overflow: hidden;
  margin: 20px;
} 
.jiaozi-description,
.chickencurry-description,
.hssoup-description{
  text-align: center;
  background-color: #EEE2DC;
  border-left: 10px solid #BAB2B5;
  border-right: 10px solid #BAB2B5;
  border-bottom: 10px solid #BAB2B5;
  height: auto;
  min-height: fit-content;
  overflow: scroll;
  max-height: 400px;
} 
.jiaozi-ingredients,
.chickencurry-ingredients,
.hssoup-ingredients{
  text-align: center;
  background-color: #EEE2DC;
  border-top: 10px solid #BAB2B5;
  border-right: 10px solid #BAB2B5;
  border-bottom: 10px solid #BAB2B5;
  height: auto;
  min-height: fit-content;
  overflow: scroll;
  max-height: 400px;
} 
.jiaozi-steps,
.chickencurry-steps,
.hssoup-steps{
  text-align: center;
  background-color: #EEE2DC;
  border-right: 10px solid #BAB2B5;
  border-bottom: 10px solid #BAB2B5;
  height: auto;
  max-height: 400px;
  overflow: scroll;
}

.jiaozi-additional > ul,
.chickencurry-additional > ul,
.hssoup-additional > ul{
  max-width: 100%;
  height: auto;
  text-align: center;
  align-self: center; 
  justify-self: center; 
  border-top: 10px solid #BAB2B5;
  border-left: 10px solid #BAB2B5;
  border-bottom: 10px solid #BAB2B5;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  min-width: fit-content;
  overflow: scroll;
}

.jiaozi-additional > ul li,
.chickencurry-additional > ul li,
.hssoup-additional > ul li{
margin: 7px;
}

#falls-image,
#colorado-image,
#canyon-image,
#tahoe-image{
  text-align: center;
  align-self: center; 
  justify-self: center; 
  overflow: clip;
  min-height: fit-content;
}


#falls-image > img,
#colorado-image > img,
#canyon-image > img,
#tahoe-image > img{
  text-align: center;
  box-shadow: 10px 10px;
  margin: 5px;
  width: 30%;
}

body > main > div > h3{
  margin-top: 15px;
}
#tahoe-description,
#falls-description,
#boulder-description,
#canyon-description{
  text-align: center;
  background-color: #EEE2DC;
  border: 10px solid #BAB2B5;
}

#falls-gallery,
#canyon-gallery,
#boulder-gallery,
#tahoe-gallery {
  overflow: scroll;
}

#falls-gallery > ul,
#canyon-gallery > ul,
#boulder-gallery > ul,
#tahoe-gallery > ul{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  text-align: center;
  align-self: center; 
  justify-self: center; 
  background-color: #EEE2DC;
  border: 10px solid #BAB2B5;
  margin-bottom: 50px;
  height: auto;
  min-width: fit-content;
  overflow: scroll;
}

#falls-gallery > ul li,
#canyon-gallery > ul li,
#boulder-gallery > ul li,
#tahoe-gallery > ul li{
  margin: 15px;
}